strong {
  font-weight: bold;
}
.example-tree-progress-bar {
  margin-left: calc($width - 100px);
}

ul,
li {
  list-style-type: none;
}
.mat-icon-button {
  width: auto;
  height: unset;
  line-height: unset;
}
.printMe {
  visibility: visible;
  overflow: visible;
  display: block !important;
  float: none !important;
  overflow-y: visible !important;
}
.buttons {
  float: right;
  margin-right: 70px;
}
@media print {
  .mat-drawer-container,
  .mat-drawer-content {
    overflow: visible !important;
  }
  .printMe {
    visibility: visible;
    overflow: visible;
    display: block !important;
    float: none !important;
    overflow-y: visible !important;
  }
  html,
  body {
    width: 210mm;
    height: 297mm;
  }
  body,
  page[size="A4"] {
    margin: 0;
    box-shadow: 0;
  }
  .buttons {
    visibility: hidden;
  }
}
// page[size="A4"] {
//   background: white;
//   width: 21cm;
//   height: 29.7cm;
//   overflow: visible;
//   display: block;
//   margin: 0 auto;
//   margin-bottom: 0.5cm;
//   box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
// }
// @page {
//   size: A4;
//   overflow: visible;
//   margin: 0;
// }
