section > h1 {
  padding: 5px 10px;
  border-radius: 4px;
  margin-top: 10px;
}

textarea {
  padding: 2px;
  border-width: 1px;
  $width: calc(100% - 6px);
  width: $width;
  max-width: $width;
  height: 150px;
  font-family: monospace;
  display: block;
}

textarea,
section {
  margin-bottom: 10px;
}

pre {
  overflow: auto;
  max-height: 200px;
}
div.title {
  display: flex;
  margin-top: 10px;
}

div.title a {
  margin-left: auto;
}
pre,
textarea {
  font-size: 0.9em;
}

@media print {
  .printMe {
    visibility: visible;
  }
  .error
  {
    visibility: hidden;
  }
  html,
  body {
    width: 210mm;
    height: 297mm;
  }
  body,
  page[size="A4"] {
    margin: 0;
    box-shadow: 0;
  }
  .buttons {
    visibility: hidden;
  }
}
page[size="A4"] {
  background: white;
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}
@page {
  size: A4;

  margin: 0;
}
